sudo: true
services:
  - postgresql

language: python
python:
  - "3.6"
  - "3.7"

install: pip install tox-travis

before_script:
  - psql -c 'create database dynamic_models_test;' -U postgres

script: tox
